<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.section01.xml.MenuMapper">

    <resultMap id="menuResultMap" type="MenuDTO">
        <id property="menuCode" column="MENU_CODE"/>
        <result property="menuName" column="MENU_NAME"/>
        <result property="menuPrice" column="MENU_PRICE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="orderableStatus" column="ORDERABLE_STATUS"/>
    </resultMap>

<!--    설명.-->
<!--      OGML(Object Graph Navigation Language)-->
<!--      : single guatation('') 구간의 값은 리터럴 값으로 보고 그게 아닌 객체의 필드 또는 변수로-->
<!--        인식하게 작성하는 기법이다.-->

<!--    설명.-->
<!--      1. gte(>=) : greater than equal-->
<!--      2. gte(>=) : greater than-->
<!--      3. lte(>=) : less than equal-->
<!--      4. lt(>=) : less than-->
<!--      5. eq(>=) : equal-->
<!--      6. neq(!=) : not equal-->

    <select id="selectMenuByPrice" parameterType="_int" resultMap="menuResultMap">
        SELECT
              A.MENU_CODE
            , A.MENU_NAME
            , A.MENU_PRICE
            , A.CATEGORY_CODE
            , A.ORDERABLE_STATUS
           FROM TBL_MENU A
        WHERE A.ORDERABLE_STATUS = 'Y'
<!--        if문의 동적쿼리 사용-->
        <if test="price gte 0 and price lte 10000"> <!--  <= >= 이상의 의미-->
            <![CDATA[
            AND A.MENU_PRICE < #{ price }
            ]]>
        </if>
        <if test="price gte 10000 and price lte 20000">
            AND A.MENU_PRICE BETWEEN 10000 AND 20000
        </if>
        <if test="price gte 20000 and price lte 30000">
            AND A.MENU_PRICE BETWEEN 20000 AND 30000
        </if>
        <if test="price gte 30000">
            AND A.MENU_PRICE >= 30000
        </if>
    </select>

    <select id="searchMenu" parameterType="SearchCriteria" resultMap="menuResultMap">
        SELECT
            A.MENU_CODE
           , A.MENU_NAME
           , A.MENU_PRICE
           , A.CATEGORY_CODE
           , A.ORDERABLE_STATUS
         FROM TBL_MENU A
        <if test="condition == 'category'">
            JOIN TBL_CATEGORY B ON (A.CATEGORY_CODE = B.CATEGORY_CODE)
        </if>
        WHERE A.ORDERABLE_STATUS = 'Y'
        <if test="condition == 'category'">
            AND B.CATEGORY_NAME = #{ value }
        </if>
        <if test="condition == 'name'">
            AND A.MENU_NAME LIKE CONCAT('%', #{ value }, '%')
        </if>
        ORDER BY 1 DESC
    </select>

    <select id="searchMenuBySupCategory" parameterType="SearchCriteria" resultMap="menuResultMap">
        SELECT
        A.MENU_CODE
        , A.MENU_NAME
        , A.MENU_PRICE
        , A.CATEGORY_CODE
        , A.ORDERABLE_STATUS
        FROM TBL_MENU A
        WHERE A.ORDERABLE_STATUS = 'Y'
        <choose>
            <when test="value == '식사' ">
                AND A.CATEGORY_CODE IN (4, 5, 6, 7)
            </when>
            <when test="value == '음료' ">
                AND A.CATEGORY_CODE IN (8, 9, 10)
            </when>
            <when test="value == '디저트' ">
                AND A.CATEGORY_CODE IN (11, 12)
            </when>
        </choose>
    </select>


    <select id="searchMenuByRandomMenuCode" parameterType="SearchCriteria" resultMap="menuResultMap">
        SELECT
        A.MENU_CODE
        , A.MENU_NAME
        , A.MENU_PRICE
        , A.CATEGORY_CODE
        , A.ORDERABLE_STATUS
        FROM TBL_MENU A
        WHERE  A.MENU_CODE IN
        <foreach collection="list" item="menuCode" open="(" close=")" separator=", ">
            #{ menuCode }
        </foreach>
    </select>




</mapper>