<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.section01.xml.MenuMapper">
    <select id="selectMenuByPrice" parameterType="_int">
        SELECT
              A.MENU_CODE
            , A.MENU_NAME
            , A.MENU_PRICE
            , A.CATEGORY_CODE
            , A.ORDERABLE_STATUS
           FROM TBL_MENU A
        WHERE A.ORDERABLE_STATUS = 'Y'
<!--        if문의 동적쿼리 사용-->
        <if test="price gte 0 and price lte 10000"> <!--  <= >= 이상의 의미-->
            <![CDATA[
            AND A.MENU_PRICE < #{ price }
            ]]>
        </if>
        <if test="price gte 10000 and price lte 20000">
            AND A.MENU_PRICE BETWEEN 10000 AND 20000
        </if>
        <if test="price gte 20000 and price lte 30000">
            AND A.MENU_PRICE BETWEEN 20000 AND 30000
        </if>
        <if test="price gte 30000">
            AND A.MENU_PRICE >= 30000
        </if>
    </select>

</mapper>